@import '../../styles/global.scss';

.section-carousel{
  border-bottom: 1px solid $border-color-carousel;
}
.section-menu{
  background-color: $section-menu-bg;
  .select-box{
    z-index: 1;
    position: sticky;
    top: 5em;
    border: 1px solid $color-border-select;
    background-color: $white-default;
    border-radius: 7px;
    width: 100%;
    padding: 10px;
  }
}
.nav-opacity{
  width: 100%;
  backdrop-filter: blur(4px);
  border: 0;
  position: fixed;
  top: 0;
  z-index: 1;
}