.section-carousel{
  border-bottom: 2px solid rgba(128, 128, 128, 0.267);
}
.section-menu{
  background-color: #DADADA;
  h3{
    color: #162B54;
  } 
}
.nav-opacity{
  width: 100%;
  backdrop-filter: blur(4px);
  border: 0;
  position: fixed;
  top: 0;
  z-index: 1;
}