@import '../../styles/global.scss';

.nav-bg{
  background-color: transparent;
  .nav-title{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: pointer;
}
}