@import '../../styles/global.scss';
.card{
  padding: 0px 0px;
  .card-title{
    color: $main-color;
    font-weight: bold;
  }
  .btn-order{
    background-color: $main-color;
    border: 0;
    padding: 10px 30px;
    border-radius: 5px;
    color: $white-default;
  }
  .card-img-top{
    height: 200px;
    &:hover{
      opacity: 0.5;
      transition: 0.5s;
      transform: scale(1);
    }
  }
}