@import '../../styles/global.scss';
.carousel-item{
    height: auto;
  .card-carousel{
    border: 0px !important;
    height: 100%;
    padding: 0px 400px;
    flex-direction: row !important;
    .img-carousel{
      max-height: 500px;
    }
    .color-main{
      color: $main-color;
    }
    .button-main{
      background-color: $main-color;
      color: $white-default;
    }
   
  }
}

.carousel-control-prev{
  span{
    background-color: $light-gray;
    border-radius: $control-b-radius;
  }
  }
.carousel-control-next{
  span{
    background-color: $light-gray;
    border-radius: $control-b-radius;
  }
}

@media (min-width:320px) and (max-width: 750px) {
  .carousel-item{
    height: auto;
    .card-carousel{
      padding: 0px;
      .card-body{
        padding: 0px 0px;
      }
      .img-carousel{
        max-width: 100%;
        height: 314px;
      }
    }
  }
}

@media (min-width: 760px) and (max-width: 1000px) {
  .carousel-item{
    height: auto;
    .card-carousel{
      padding: 0px 0px;
      .img-carousel{
        height: 400px;
        text-align: center;
        max-height: 580px;
        max-width: 100%;
      }
    }
  }
}

@media (min-width:901px) and (max-width: 1440px) {
  .carousel-item{
    .card-carousel{
      padding: 0px 0px;
    }
  }
}