@import '../../styles/global.scss';
.form-bg{
  border-radius: 20px;
    width: 45%;
    box-shadow: -1px 3px 10px 0px rgba(0,0,0,0.75);
    padding: 20px;
    .form-floating{
      width: 100%;
      input {
        border-radius: 0px;
        border-top: 0px;
        border-left: 0px;
        border-right: 0px;
      }
    }
    button{
      letter-spacing: 1.2px;
    }
}